* {
  /* font-family: "Inter"; */
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.up-down-image {
  transition: 0.3s ease-out;
}

.burger {
  display: none;
  transition: 0.3s ease-out;
}

.show {
  display: flex;
  transition: 0.3s ease-out;
}